.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* The actual popup */

.popup .popuptext {
    visibility: hidden;
    width: auto;
    background-color: #ffc;
    color: #333;
    text-align: center;
    border-radius: 6px;
    border: solid 2px #666;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 9pt;
}


/* Toggle this class - hide and show the popup */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup-image {
    display: inline;
    vertical-align: middle; /* Adjust vertical alignment as needed */
}

#popup-container {
    position: relative; /* Ensure proper positioning */
    /* Add any other styles you need */
}

